<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fields</title>
</head>
<body>
    <h1>All Fields</h1>
    <ul>
        <% for(let field of fields ){%>
            <li><%= field.title%></li>
       <% } %>
    </ul>
</body>
</html>