<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Field</title>
</head>
<body>
    <form action="/fields" method="POST">
            <div>
                <label for="title">Title</label>
                <input type="text" id = "title" name="field[title]">
            </div>
            <div>
                <label for="location">Location</label>
                <input type="text" id="location" name="field[location]">

            </div>
            <button>Add Field Location</button>
            <a href="/fields">All Fields</a>
    </form>
</body>
</html>